:root {
    --theme-dark-bgc-color: #1e272e;
    --theme-padding: 20px;
    --theme-margin: 20px;
    --left-menu-width: 256px;
    --collapse-left-menu-width: 64px;
    --tabs-wrapper-height: 48px;
    --nav-height: 64px;
    --horizontal-menu-height: 40px;
    --footer-height: 40px;
    --filter: 3px;
    --header-z-index: 12;
    --side-z-index: 40;
    --border: 1px solid var(--el-border-color);
}

html.dark {
    /* 自定义深色背景颜色 */
    --el-bg-color: var(--theme-dark-bgc-color);
}