.el-overlay {
    backdrop-filter: blur(var(--filter));
}

.el-table .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

html body .el-dialog {
    --el-dialog-border-radius: var(--theme-border-radius);
    overflow: hidden;
}

@media screen and (max-width: 980px) {
    html body .el-dialog {
        width: auto !important;
        margin: 5vw;
    }
}