@import './normalize.css';
@import './css-vars.css';
@import './animation.css';

html,
body,
#app {
  box-sizing: border-box;
  outline: none !important;
  background-color: var(--el-bg-color-page);
  min-height: 100vh;
}