.el-menu.dark-bg {
    --el-menu-text-color: #fff;
    --el-menu-bg-color: var(--theme-dark-bgc-color);
    --el-menu-hover-bg-color: var(--el-color-primary-light-3);
    --el-menu-active-color: var(--menu-text-color);
    --el-menu-active-bg-color: var(--el-color-primary-light);

    .el-menu-item,
    .el-sub-menu {
        color: var(--el-menu-text-color);
    }

    .el-menu-item.is-active {
        background-color: var(--el-menu-active-bg-color);
    }
}